[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.103.0"
pydantic = "==2.3.0"
alembic = "*"
python-dotenv = "*"
psycopg2 = "*"
uvicorn = "*"

[dev-packages]
